<%- include('header') %>
<!-- start: content -->
<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2>Welcome to Pictures Aution</h2>
            <p>Thank you for using our service!</p>
        </div>

    </div>
</div>
<!-- end: content -->
<%- include('footer') %>
