
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Private Album</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/album.css" rel="stylesheet">
</head>

<body>

<div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 py-4">
                <h4 class="text-white">About</h4>
                <p class="text-muted">Javascript home assignement</p>
            </div>
            <div class="col-sm-4 py-4">
                <h4 class="text-white"></h4>
                <ul class="list-unstyled">
                    <li><a href="biddingSite" class="text-white">Aution site</a></li>
                    <li><a href="#" class="text-white"></a></li>
                    <li><a href="#" class="text-white"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-dark bg-dark">
    <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand">Album</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Private album</h1>
        <p class="lead text-muted">This is your album in which you can manage your bidded and favorite pictures</p>
        <p>
            <a href="#" class="btn btn-primary">Show bidded pictures</a>
            <a href="#" class="btn btn-secondary">Show favorite pictures</a>
        </p>
    </div>
</section>

<div class="album text-muted">
    <div class="container">

        <div class="row">
            <div class="card">
                <img data-src="holder.js/100px280/thumb" alt="Card image cap">
                <p class="card-text">Sample picture.</p>
            </div>
            <div class="card">
                <img data-src="holder.js/100px280/thumb" alt="Card image cap">
                <p class="card-text">Sample picture.</p>
            </div>
            <div class="card">
                <img data-src="holder.js/100px280/thumb" alt="Card image cap">
                <p class="card-text">Sample picture.</p>
            </div>

            <div class="card">
                <img data-src="holder.js/100px280/thumb" alt="Card image cap">
                <p class="card-text">Sample picture.</p>
            </div>
            <div class="card">
                <img data-src="holder.js/100px280/thumb" alt="Card image cap">
                <p class="card-text">Sample picture.</p>
            </div>
            <div class="card">
                <img data-src="holder.js/100px280/thumb" alt="Card image cap">
                <p class="card-text">Sample picture.</p>
            </div>

            <div class="card">
                <img data-src="holder.js/100px280/thumb" alt="Card image cap">
                <p class="card-text">Sample picture.</p>
            </div>
            <div class="card">
                <img data-src="holder.js/100px280/thumb" alt="Card image cap">
                <p class="card-text">Sample picture.</p>
            </div>
            <div class="card">
                <img data-src="holder.js/100px280/thumb" alt="Card image cap">
                <p class="card-text">Sample picture.</p>
            </div>
        </div>

    </div>
</div>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <!--<p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
        -->
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
<script src="js/popper.min.js"></script>
<script src="js/holder.min.js"></script>
<script>
    $(function () {
        Holder.addTheme("thumb", { background: "#55595c", foreground: "#eceeef", text: "Thumbnail" });
    });
</script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
